extends base.pug

block scripts
  script
      include ../static/script.js
block style
  style
      include ../static/health.css

block content
    section#daseboard
      h1 Welcome to Our Health Metrics Dashboard
      p
        | Track your health and fitness progress with our personalized dashboard. Below, you can see the health metrics for three different fitness levels: weak, average, and fully fit individuals. Use this information to set and achieve your fitness goals and maintain a healthy lifestyle.

      div.box  
        .dashboard.weak
         h2 Weak Individual
         ul
          li Weight: 150 lbs
          li BMI: 25 (Overweight)
          li Resting Heart Rate: 80 bpm
          li Blood Pressure: 130/80 mm Hg (Pre-hypertension)
          li Steps Taken Today: 2,000
          li Sleep Duration: 6 hours
          li Calories Consumed Today: 2,500
          li Hydration Level: 4 cups of water consumed
          li Nutritional Score: 3/10
          //- Add more metrics here

        .dashboard.average
          h2.heading Average Individual
          ul
            li Weight: 160 lbs
            li BMI: 23 (Normal Weight)
            li Resting Heart Rate: 70 bpm
            li Blood Pressure: 120/70 mm Hg (Normal)
            li Steps Taken Today: 7,000
            li Sleep Duration: 7.5 hours
            li Calories Consumed Today: 2,000
            li Hydration Level: 8 cups of water consumed
            li Nutritional Score: 7/10
            //- Add more metrics here

        .dashboard.fully-fit
          h2 Fully Fit Individual
          ul
            li Weight: 145 lbs
            li BMI: 21 (Healthy Weight)
            li Resting Heart Rate: 60 bpm
            li Blood Pressure: 110/60 mm Hg (Optimal)
            li Steps Taken Today: 10,000
            li Sleep Duration: 8 hours
            li Calories Consumed Today: 2,500
            li Hydration Level: 10 cups of water consumed
            li Nutritional Score: 9/10













